*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: rgb(94, 91, 91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: rgb(65, 62, 62);
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.662);
}
.timer-display{
    width: 100%;
    background-color: rgb(207, 199, 199);
    padding: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: white;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.laps{
    text-align: center;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}
.action{
    width: 85%;
    margin-left: 89px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 55px;
    color: white;
    font-size: 30px;
}
button{
    width: 155px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 540;
    border-radius: 7px;
    cursor: pointer;
}
button:hover{

    background-color: black;
    color: wheat;
    border: 4 px solid whitesmoke;
    transform: scale(1.1,1.1);
}